<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYbsU7Ro7qRUuooBr-fcMGBaYxrr1vyG4</string>
	<key>GCM_SENDER_ID</key>
	<string>898406101191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sefAss</string>
	<key>PROJECT_ID</key>
	<string>sef-assignment-223b2</string>
	<key>STORAGE_BUCKET</key>
	<string>sef-assignment-223b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898406101191:ios:8354f49ad6b35d01bd4ee2</string>
</dict>
</plist>